<td style="padding-bottom: 20px; padding-top: 20px; padding-left: 10px;">

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.reply.hi") %> <strong><%= @recipient.name %></strong>. <%= t("mailers.comments_notification.title") %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t("mailers.reply.subject") %> <%= link_to @parent.body.truncate(27, separator: ' '), comment_url(@reply.id), style: "color: #2895F1; text-decoration:none;" %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= link_to t('mailers.comments_notification.access_link'), new_user_session_url, style: "color: #2895F1; text-decoration:none;" %> <%=t('mailers.comments_notification.access') %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= t('mailers.comments_notification.regards') %>
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 11px;font-weight: normal;line-height: 24px;">
    <%= t('mailers.config.manage_email_subscriptions') %>
  </p>

<!--  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px; color: #9da2a6">-->
    <%#= t('mailers.comments_notification.role').upcase %>
<!--  </p>-->

  <!--  <p style="border-left: 2px solid #DEE0E3;font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-style: italic;font-weight: normal;line-height: 24px;margin-left: 20px;padding: 10px;">-->
  <%#= text_with_links @reply.body %>
  <!--  </p>-->

  <!--  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 12px;font-weight: normal;line-height: 20px;">-->
  <%#= t("mailers.config.manage_email_subscriptions") %> <%#= link_to t("account.show.title"), account_url, style: "color: #2895F1; text-decoration:none;" %>
  <!--  </p>-->
</td>
