    <%#= render 'subnav', crowdfunding: @crowdfunding, active: 'rewards' %>
<%# per una eventuale gestione  delle action rewards ed investments %>
    <div class="small-12  column">
        <span >
          <h4><%= t("admin.crowdfundings.investments.status") %>:</h4> 
          <p><%= status(@crowdfunding) %></p>
        </span>
    </div>
    <div class="small-12  column">
      <br>
      <h2><%= "Lista delle ricompense" %></h2>
      <% if !@crowdfunding.crowdfunding_rewards.any? %>
      <div class="callout primary margin">
          <%= t("admin.legislation.crowdfundings.index.no_rewards_for_crowdfunding") %>
        </div>
      <% end %>
      <h3 class="margin"></h3>
      <div class="row comments">
          <div id="rewards">
            <%= render 'admin/crowdfunding_rewards/form' ,crowdfunding: @crowdfunding %>
          </div>
      </div>
    </div>