<ul class="menu simple clear">
  <% if active == 'info' %>
    <li class="active">
      <h2><%= t("admin.legislation.processes.subnav.info") %></h2>
    </li>
  <% elsif @process.process_type == 2 %>
    <li>
      <%= link_to t("admin.legislation.processes.subnav.info"),
        @process.process_type == 2 ? edit_admin_legislation_process_work_path(process) : edit_admin_legislation_process_path(process) %>
    </li>
  <% elsif @process.process_type == 3 %>
    <li>
      <%= link_to t("admin.legislation.processes.subnav.info"),
        @process.process_type == 3 ? edit_admin_legislation_process_chance_path(process) : edit_admin_legislation_process_path(process) %>
    </li>
  <% elsif @process.process_type == 5 %>
    <li>
      <%= link_to t("admin.legislation.processes.subnav.info"),
        @process.process_type == 5 ? edit_admin_legislation_process_chance_path(process) : edit_admin_legislation_process_path(process) %>
    </li>

  <% elsif @process.process_type == 1 %>
    <li>
      <%= link_to t("admin.legislation.processes.subnav.info"),
        @process.process_type == 1 ? edit_admin_legislation_process_processes_proposal_path(process) : edit_admin_legislation_process_path(process) %>
    </li>

  <% end %>

  <% if active == 'questions' %>
    <li class="active">
      <h2><%= t("admin.legislation.processes.subnav.consultation") %></h2>
    </li>
  <% else %>
    <li>
      <%= link_to t("admin.legislation.processes.subnav.consultation"), admin_legislation_process_questions_path(process) %>
    </li>
  <% end %>

  <!-- Disabilitate le schede Proposte e Bozze per Proposte e Iniziative -->
  <% if @process.process_type != 1 %>
    <% if active == 'proposals' %>
      <li class="active">
        <h2><%= t("admin.legislation.processes.subnav.proposals") %></h2>
      </li>
    <% else %>
      <li>
        <%= link_to t("admin.legislation.processes.subnav.proposals"), admin_legislation_process_proposals_path(process) %>
      </li>
    <% end %>

    <% if active == 'draft_versions' %>
      <li class="active">
        <h2><%= t("admin.legislation.processes.subnav.draft_texts") %></h2>
      </li>
    <% else %>
      <li>
        <%= link_to t("admin.legislation.processes.subnav.draft_texts"), admin_legislation_process_draft_versions_path(process) %>
      </li>
    <% end %>
  <% end %>
</ul>
