<% #calcola array marker
geolocation_arr = []
    @agreements.each do |agreement|

        if  agreement.map_location && agreement.agreement_type.to_i==params[:agreement_type].to_i
            geolocation = agreement.map_location
            geolocation_arr.push(geolocation)
        end 
    end
%>

<% provide :title do %><%= t('collaboration.agreements.index.section_header.title') %><% end %>

<% if User.pon_id > 0 %>



<main>
   
<div class="help-header no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <%= image_tag "#{Rails.application.config.cm}/help/help_icon_collaborations.png", alt: t("collaboration.agreements.index.section_header.title"), class: "align-top" %>
      <h1 class="inline-block"> <%= t("collaboration.agreements.index.section_header.title_collaboration") %></h1>
  
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-12 mb-3">
      <p><%= back_link_to %></p>
    </div>
  <p><%= t("#{controller_name}.map.info") %></p>
  <p><%= t("#{controller_name}.map.count_markers") %> <%= count_markers=item_with_maplocation_count(@agreements) %></p>


<p><%= render_geolocation(@agreements, "collaboration_agreement","agreement_all")  %></p>


  </div>
</main>

  <% else%>
    <main>
      <div class="row">
      </div>
    </main>
  <% end%>









