<% provide :title do %><%= t('pages.titles.conditions') %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="col-sm-12 col-md-12">
    <p><%= back_link_to %></p>
    <h1><%= t("pages.conditions") %></h1>
    <h3>Avviso sulle condizioni d'uso del portale Partecipa della Città Metropolitana di Bari</h3>
    <p style="text-align: justify;">Pagina di informazione su condizioni d'uso, privacy e protezione dei dati
      personali.</p>
    <h3>1. Ambito di applicazione</h3>
    <p style="text-align: justify;">La partecipazione attiva proposta dal portale
      <strong>Partecipa della Città Metropolitana di Bari</strong> è
      regolata dalle
      presenti
      condizioni d'uso, che vincolano tutti coloro che intendono utilizzarlo. Per accedere al portale occorre
      registrarsi
      ed accettare le presenti condizioni d'uso.</p>
    <p style="text-align: justify;"><strong>La Città Metropolitana</strong> si riserva la facoltà di modificare le
      condizioni d'uso di Partecipa, la
      cui ultima versione
      è quella pubblicata su questo sito web.</p>
    <h3>2. Obiettivo dell'iniziativa</h3>
    <p style="text-align: justify;">Attraverso <strong>il portale Partecipa, la Città Metropolitana di Bari</strong>
      intende promuovere la
      partecipazione dei cittadini e
      delle cittadine nella gestione della città, coinvolgendo la cittadinanza nella generazione di idee e proposte con
      l'obiettivo di migliorarne la qualità della vita. Con una gestione più vicina ai bisogni della città, si potranno
      creare canali diretti di comunicazione con l'Amministrazione comunale, contribuendo a prendere le decisioni più
      condivise nell'interesse generale di tutti</p>
    <h3>3. Questioni generali</h3>
    <p style="text-align: justify;">Partecipa mette a disposizione una serie di strumenti di partecipazione: dibattiti,
      proposte cittadine, progetti
      dell'Amministrazione. Tali strumenti saranno avviati progressivamente e non necessariamente saranno tutti
      immediatamente disponibili.
      A Partecipa potrà partecipare chiunque, con età maggiore di 16 anni, si sia registrato sul portale. Con
      l'accettazione di queste condizioni, è implicita la dichiarazione di aver almeno 16 anni. Nel caso di minori, la
      responsabilità di quanto svolto su Partecipa, ricade sui titolari della potestà genitoriale.
      Non ci sono limiti nel numero di dibattiti, commenti o proposte che ciascun utente registrato può presentare nel
      portale.
      Nel partecipare ai dibattiti, prima di inserire un nuovo argomento, si consiglia di verificare se questi non sia
      già
      presente tra quelli già avviati e nel caso, parteciparvi con i propri commenti.
      Nell'introdurre il titolo delle proposte, si raccomanda di scriverne uno breve e preciso (con un massimo di 2000
      caratteri). Per completare la proposta potranno infatti essere aggiunti allegati.
      Ulteriori approfondimenti sull'uso della piattaforma sono disponibili nella pagina
      delle <%= link_to "Domande frequenti.", faq_path %></p>
    <h3>4. Doveri degli utenti</h3>
    <p style="text-align: justify;"> Partecipa è un punto di incontro il cui obiettivo è dibattere, condividere e
      valutare le proposte utili a
      migliorare
      la città: gli utenti pertanto dovranno farne un uso diligente e in accordo con tale obiettivo.
      La Città Metropolitana di Bari non è responsabile dell'uso non corretto o improprio di <strong>Partecipa</strong>
      da parte degli
      utenti, ovvero per i contenuti da essi inseriti, essendo ogni utente responsabile del suo uso corretto e della
      legalità del contenuto e delle opinioni che ha ivi condiviso.
      La Città Metropolitana di Bari si riserva, pertanto, il diritto di limitare l'accesso al portale in presenza di un
      uso illecito o improprio da parte degli utenti, anche in relazione al linguaggio utilizzato e ai temi proposti se
      contrari alle norme e alla convivenza civile, plurale, e pacifica della nostra comunità, ovvero affinchè siano
      preservati gli obiettivi fondamentali di <strong>Partecipa</strong>, come già evidenziati.
      In accordo con le norme vigenti pertanto è proibito l'uso di <strong>Partecipa</strong> per fini diversi a quelli
      di dibattere,
      condividere e valutare le proposte, e specificatamente:
    </p>
    <ul>
      <li>
        inserire o condividere, direttamente o indirettamente tramite link, contenuti che siano considerati in
        violazione, in qualsiasi forma, dei diritti fondamentali della persona;
      </li>
      <li>
        inserire o condividere, direttamente o indirettamente tramite link, dati, immagini, video, o fotografie relativi
        a
        terzi senza averne ottenuto il consenso esplicito;
      </li>
      <li>
        inserire o condividere, direttamente o indirettamente tramite link, qualsiasi contenuto che violi il segreto
        delle
        comunicazioni, i diritti di proprietà industriale e intellettuali, o le norme in vigore relative alla protezione
        dei
        dati personali;
      </li>
      <li>
        riprodurre, distribuire, condividere contenuti, informazioni o immagini, direttamente o indirettamente tramite
        link, che siano a disposizione di altri utenti senza la loro esplicita autorizzazione;
      </li>
      <li>
        utilizzare Partecipa a fini pubblicitari.
      </li>
    </ul>
    <p style="text-align: justify;">
      Nel caso siano individuati comportamenti impropri, come quelli sopra elencati, l'utente potrà essere sospeso
      temporaneamente, ovvero non potrà accedere a <strong>Partecipa</strong>, ovvero il contenuto inserito verrà
      eliminato, senza
      pregiudizio, ove ricorra il caso, per responsabilità civili o penali che dovessero essere rilevate dall'Autorità
      competente.
      Nel caso che il contenuto introdotto incorpori un link a siti esterni, la Città Metropolitana di Bari non potrà
      essere ritenuta responsabile di danni o pregiudizi derivanti dall'accesso al link riportato e ai suoi contenuti.
      Nel caso gli utenti di <strong>Partecipa</strong>, o terzi, dovessero, per qualsiasi motivo, avviare una disputa
      legale, la Città
      Metropolitana di Bari si considera esclusa da qualsiasi responsabilità in casi di reclami, richieste, danni di
      qualsiasi natura, relazionati o derivati da detta disputa.</p>
    <h3>5. Uso di Partecipa</h3>
    <p style="text-align: justify;"> Tutti possono accedere e navigare liberamente all'interno di
      <strong>Partecipa</strong>. Solo se intendono
      avviare o partecipare
      ad
      azioni volte a creare, appoggiare o commentare una proposta, o partecipare a un dibattito, gli utenti potranno
      accedere tramite i profili dei più diffusi social e con le credenziali del <%= link_to "Sistema Pubblico di Identità Digitale
      SPID.", "https://www.spid.gov.it/" %> </p>
    <p style="text-align: justify;"> L'utilizzo di dati falsi, ovvero l'utilizzo di identità altrui, sarà perseguito
      legalmente (art. 494 del Codice
      Penale).
      Le proposte possono essere appoggiate solo dai residenti nella Città Metropolitana di Bari, maggiori di 16 anni.
      Qualsiasi contenuto, in qualsiasi forma, inserito dall'utente o dall'Amministrazione è considerato inserito con
      licenza <%= link_to "IODL 2.0 (Italian Open Data Licence)", "https://it.wikipedia.org/wiki/Italian_Open_Data_License" %>
      , salvi i casi in cui essi non siano stati esplicitamente indicati
      come
      coperti dal diritto di proprietà intellettuale e/o industriale.</p>
    <h3>6. Trattamento dei contenuti inseriti dagli utenti</h3>
    <p style="text-align: justify;"> Ai contenuti inseriti dagli utenti, di qualsiasi tipo, inclusi i commenti a testi
      di altri utenti, rispondono ai
      caratteri di:</p>
    <ul>
      <li>
        Non confidenzialità: tutto il contenuto inserito dall'utente deve essere suscettibile di essere conosciuto dal
        pubblico in generale. Pertanto, la Città Metropolitana di Bari tratterà detto contenuto come informazione non
        confidenziale.
      </li>
      <li>
        Licenza: qualsiasi contenuto, in qualsiasi forma, inserito dall'utente (così come dall'Amministrazione) è
        considerato inserito con licenza IODL 2.0 (Italian Open Data Licence)IODL 2.0, salvi i casi in cui essi non
        siano
        stati esplicitamente indicati come coperti dal diritto di proprietà intellettuale e/o industriale.
      </li>
      <li>
        Pubblicità e diffusione dei contenuti: gli utenti di Partecipa dichiarano di accettare che le informazioni
        inserite potranno anche essere pubblicate sul sito <%=link_to "www.comune.bari.it", "http://www.comune.bari.it/" %>, così come attraverso altri media che la
        Città
        consideri opportuno per aumentarne la diffusione e conoscibilità, inclusi le reti sociali ovvero altri siti
        della
        Città, in conformità a quanto previsto dalla licenza d'uso Italian Open Data Licence IODL 2.0.
      </li>
      <li>
        Gratuità: gli utenti nulla potranno chiedere alla Città Metropolitana in relazione ai contenuti da loro inseriti
        ovvero in esito al loro utilizzo, in qualsiasi forma, avendo esposto idee, proposte, commenti e suggerimenti in
        forma totalmente gratuita, che tale resterà anche quando questi siano in concreto, integralmente o parzialmente,
        utilizzati in progetti, iniziative, realizzazioni della Città.
      </li>
      <li>
        Procedimento di cancellazione: i contenuti che non rispettano le presenti condizioni potranno essere cancellati
        dalla Città Metropolitana di Bari, anche su richiesta motivata di chiunque ritenga violate dette condizioni. La
        Città Metropolitana di Bari si riserva comunque il diritto di svolgere le verifiche opportune prima di dar corso
        alla richiesta di cancellazione.
      </li>
    </ul>
    <h3>7. Protezione dei dati personali e diritti di proprietà intellettuale e/o industriale</h3>
    <ul>
      <li>Titolarietà dei diritti di proprietà intellettuale e/o industriale</li>
      <li>L'utente che aggiunge contenuti dichiara, con l'accettazione delle presenti condizioni, di essere titolare dei
        diritti di proprietà intellettuale e/o industriale o di vantarne diritti sufficienti, e che, volontariamente
        mette a
        disposizione tali contenuti per la loro diffusione sul portale Partecipa.
      </li>
      <li>La titolarietà dei contenuti inseriti che sono protetti o che potrebbero essere protetti dal diritto di
        proprietà
        intellettuale e/o industriale, è degli stessi autori e/o titolari.
      </li>
      <li>La Città Metropolitana di Bari non si assume alcuna responsabilità, diretta o indiretta, rispetto a qualsiasi
        tipo
        di controversia, disputa o procedimento giudiziario che possa derivarsi dalla pubblicazione, divulgazione e/o
        diffusione, a parte dell'utente, dei contenuti inseriti senza il preventivo consenso dei suoi legittimi titolari
        e
        aventi diritto.
      </li>
      <li>La Città Metropolitana di Bari rispetterà tutti i diritti di proprietà intellettuale o industriale relativi a
        quanto inserito dagli utenti. Qualsiasi violazione di detti diritti sarà responsabilità della persona che ha
        inserito tali contenuti.
      </li>
      <li>Protezione dei dati personali (Regolamento UE 679/2016).</li>
      <li>L'informativa sul trattamento dati è disponibile nella
        sezione <%= link_to "Trattamento dati personali.", page_path('privacy') %></li>
    </ul>

    <h3> 8. Normativa applicabile</h3>
    <p style="text-align: justify;">Si applicano le norme dell'ordinamento giuridico italiano. Per qualsiasi
      controversia è competente il Foro di
      Bari.</p>
    <h3>9. Revisione delle condizioni d'uso</h3>
    <p style="text-align: justify;">La Città Metropolitana di Bari si riserva il diritto di rivedere le presenti
      condizioni d'uso in qualsiasi
      momento.
      Nel caso, gli utenti registrati saranno avvisati attraverso questa pagina e, nel continuare a utilizzare
      Partecipa,
      confermano l'accettazione di tutte le modifiche introdotte.</p>
    <h3>10. Versione delle condizioni d'uso</h3>
    <p style="text-align: justify;">Le presenti condizioni sono valide dal 06.0.2019 (vers. 1.0).</p>
  </div>
</div>
