<header class="header">
  
  <div class="top-links">
    <div class="expanded row">
      <% if Rails.application.config.language_switch == true %>
      <%= render 'shared/locale_switcher' %>
      <% end %>
    </div>
  </div>

  <div class="expanded row">
    <div class="top-bar">

      <span data-responsive-toggle="responsive_menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <%= t("application.menu")%>
      </span>

    
        <div class="top-bar-title">
          <h1 style="display: inline-block; font-family: 'Lato' !important; font-size: 1.5rem; font-weight: lighter;">
          <% if current_user && (current_user.administrator? || current_user.moderator?) %>
            <%= link_to namespaced_root_path do %>
              <%= Setting['org_name',User.pon_id].to_s %>
              <br><small><%= namespaced_header_title %></small>
            <% end %>
          <% else %>
          <%= link_to root_path do %>
            <%= Setting['org_name',User.pon_id].to_s %>
            <br><small><%= namespaced_header_title  %></small>
            <% end %>
          <% end %>
          </h1>
        </div>

        <div id="responsive_menu">

        <div class="top-bar-right">
          <ul class="menu" data-responsive-menu="medium-dropdown">
            <%= render "admin/shared/admin_shortcuts" %>
            <%= render "shared/admin_login_items_o" %>
            <%= render "layouts/notification_item_o" %>
            <%= render "devise/menu/login_items_o" %>
          </ul>

        </div>

      </div>
    </div>
  </div>
</header>
