<% provide :title do %><%= t("proposals.index.title") %><% end %>

<% if User.pon_id == 0 %>
  <%= render "shared/section_header", i18n_namespace: "proposals.index.section_header", image: "proposals" %>
      <div class="row">
        <div class="column">
        <%= render "shared/pon_list", resource: "proposals" %>
        </div>  
      </div>
<% else %>
    <% content_for :header_addon do %>
      <%= render "shared/search_form",
                 search_path: proposals_path(page: 1),
                 i18n_namespace: "proposals.index.search_form" %>
    <% end %>
    <% content_for :header_small_addon do %>
      <%= render "shared/search_form_small",
                 search_path: proposals_path(page: 1),
                 i18n_namespace: "proposals.index.search_form" %>
    <% end %>
    <% content_for :canonical do %>
      <%= render "shared/canonical", href: proposals_url %>
    <% end %>
    
    <main>
      <%= render "shared/section_header", i18n_namespace: "proposals.index.section_header", image: "proposals" %>
      <%= render "shared/search_results",
          resources:  @proposals,
          total_resources_num: @tot_resources,
          search_terms: @search_terms,
          advanced_search_terms: @advanced_search_terms,
          tag_filter: @tag_filter
            %>
    
      <div class="row">
        <div id="proposals" class="proposals-list small-12 medium-12 large-9 column">
    
          <%# unless @search_terms || @advanced_search_terms || @tag_filter %>
            <div id="section_help" class="margin" data-magellan-target="section_help">
              <!-- <p class="lead">
                <strong><%#= t("proposals.index.section_footer.title") %></strong>
              </p> -->
              <p><%#= Setting["service_description.proposals",User.pon_id] %>
                <%= t("proposals.index.section_footer.description").html_safe %>
              </p>
              <p><%= t("proposals.index.section_footer.help_text_1").html_safe %></p>
              <p><%= t("proposals.index.section_footer.help_text_2").html_safe %></p>
              <p><%= t("proposals.index.section_footer.help_text_3").html_safe%></p>
              <p><%= t("proposals.index.section_footer.help_text_4") %></p>
            </div>
          <%# end %>
    
          <% if has_banners? %>
            <%#= render "shared/banner" %>
          <% end %>
    
          <% if @featured_proposals.present? %>
            <div id="featured-proposals" class="row featured-proposals">
              <div class="col-sm-12 col">
                <h2>
                  <%= t("proposals.index.featured_proposals") %>
                </h2>
              </div>
              <% @featured_proposals.each do |featured_proposal| %>
                <%= render "featured_proposal", proposal: featured_proposal %>
              <% end %>
            </div>
          <% end %>
    
          <div class="row">
            <div class="small-12 column">
              <%= render "view_mode" %>
            </div>
          </div>
    
          <%= render("shared/advanced_search", search_path: proposals_path(page: 1),
                                                class_name: "Proposal") unless params[:retired].present? %>
    
          <%= render 'shared/order_links', i18n_namespace: "proposals.index" %>
    
          <% if @proposals.any? %>
            <div class="show-for-small-only">
              <% if current_user && (  (service_social?(:proposals) && current_user.provider.present? && current_user.is_social?) || current_user.provider == 'openam' || current_user.provider == 'test' || current_user.administrator || current_user.moderator? ) %>
                <%= link_to t("proposals.index.start_proposal"),
                            new_proposal_guide,
                            class: 'btn btn-primary btn-block' %>
              <% end %>
            </div>
          <% end %>
    
          <div id="proposals-list">
            <% if @proposals.any? || current_user.blank? %>
              <p> <%= page_entries_info @resources %></p>                
              <% if proposals_default_view? %>
                <%= render partial: 'proposals/proposal', collection: @proposals %>
              <% else %>         
                <% @proposals.each do |proposal| %>
                  <%= render partial: '/proposals/proposal_minimal', locals: { proposal: proposal } %>
                <% end %>
              <% end %>
            <% else %>
              <%= empty_recommended_proposals_message_text(current_user) %>
            <% end %>
            <%= paginate @proposals %>
    
          </div>
        </div>
    
        <div class="small-12 medium-12 large-3 column">
          <aside class="margin-bottom">
          <% if current_user && (  (service_social?(:proposals) && current_user.provider.present? && current_user.is_social?) || current_user.provider == 'openam' || current_user.provider == 'test' || current_user.administrator? || current_user.moderator? )%>
            <%= link_to t("proposals.index.start_proposal"),
                        new_proposal_guide,
                        class: 'btn btn-primary btn-block hide-for-small-only' %>
          <% end %>
            <% if params[:retired].blank? %>
              <div class="sidebar-divider"></div>
              <h2 class="sidebar-title"><%= t("proposals.form.geolocation") %></h2>
              <p><%= render_geolocation(@proposals, "proposal")  %></p>
              <%= link_to "Visualizza dettaglio mappa",
                    large_map_proposals_path
                     %>
              <%= render 'categories' %>
              <%= render "shared/tag_cloud", taggable: 'proposal' %>
            <% if Geozone.where(pon_id: User.pon_id).count > 0 %>
              <%= render "geozones" %>
            <% end %>
              <%= render 'popular' %>
            <% end %>
            <%= render 'retired' %>
            <%= render "shared/gamification_result", resource: 'Proposal' %>       
          </aside>
        </div>
    
      </div>
    </main>
  <% end%>
