<% provide :title do %><%= t('debates.index.title') %><% end %>

<% if User.pon_id == 0 %>
  <%= render "shared/section_header", i18n_namespace: "debates.index.section_header", image: "debates" %>
      <div class="row">
        <div class="column">
        <%= render "shared/pon_list", resource: "debates" %>
        </div>  
      </div>
<% else %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: debates_path(page: 1),
             i18n_namespace: "debates.index.search_form" %>
<% end %>
<% content_for :header_small_addon do %>
  <%= render "shared/search_form_small",
              search_path: debates_path(page: 1),
              i18n_namespace: "debates.index.search_form" %>
<% end %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: debates_url %>
<% end %>

<main>
  <%= render "shared/section_header", i18n_namespace: "debates.index.section_header", image: "debates" %>
  <%= render "shared/search_results",
          resources:  @debates,
          total_resources_num: @tot_resources,
          search_terms: @search_terms,
          advanced_search_terms: @advanced_search_terms,
          tag_filter: @tag_filter
            %>

  <div class="row">
    <div id="debates" class="debates-list small-12 medium-12 large-9 column">

      <% if has_banners? %>
        <%#= render "shared/banner" %>
      <% end %>

      <% unless @tag_filter || @search_terms || !has_featured? %>
        <%= render "featured_debates" %>
      <% end %>

      <div class="row">
        <div class="small-12 column">
          <%= render "view_mode" %>
        </div>
      </div>

      <%= render "shared/advanced_search", search_path: debates_path(page: 1),
                                                class_name: "Debate" %>

      <%= render 'shared/order_links', i18n_namespace: "debates.index" %>

      <% if current_user && ( (service_social?(:debates) && current_user.provider.present? && current_user.is_social?) || current_user.provider == 'openam' || current_user.provider == 'test' || current_user.administrator? || current_user.moderator? )%>
        <div class="show-for-small-only">
          <%= link_to t("debates.index.start_debate"), new_debate_path, class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <% if @debates.any? || current_user.blank? %>
        <% if debates_default_view? %>
          <%= render @debates %>
        <% else %>
          <% @debates.each do |debate| %>
            <%= render partial: 'debates/debate_minimal', locals: { debate: debate } %>
          <% end %>
        <% end %>
      <% else %>
        <%= empty_recommended_debates_message_text(current_user) %>
      <% end %>
      <%= paginate @debates %>

      <% unless @search_terms || @advanced_search_terms || @tag_filter %>
        <div id="section_help" class="margin" data-magellan-target="section_help">
          <p class="lead">
            <strong><%= t("debates.index.section_footer.title") %></strong>
          </p>
          <p><%#= Setting["service_description.debates",User.pon_id] %>
            <%= t("debates.index.section_footer.description").html_safe%>
          </p>
          <p><%= t("debates.index.section_footer.help_text_1").html_safe%></p>
          <p><%= t("debates.index.section_footer.help_text_2",
                    org: link_to(Setting['org_name',User.pon_id].to_s, new_user_registration_path)).html_safe %></p>
          <p><%= t("debates.index.section_footer.help_text_3",
                    proposal: link_to(t("debates.index.section_footer.proposals_link"), proposals_path),
                    budget: link_to(t("debates.index.section_footer.budget_link"), budgets_path)).html_safe %>
          </p>
        </div>
      <% end %>
    </div>

    <div class="small-12 medium-12 large-3 column">

      <aside class="margin-bottom">

      <% if current_user && (  (service_social?(:debates) && current_user.provider.present? && current_user.is_social?) || current_user.provider == 'openam' || current_user.provider == 'test' || current_user.administrator? || current_user.moderator? )%>
        <%= link_to t("debates.index.start_debate"), new_debate_path, class: 'btn btn-primary btn-block' %>
      <% end %>

        <div class="sidebar-divider"></div>
        <h2 class="sidebar-title"><%= t("debates.form.geolocation") %></h2>
        <p><%= render_geolocation(@debates, "debate")  %></p>
        <%= link_to "Visualizza dettaglio mappa",
                    large_map_debates_path
                     %>
        <%= render 'categories' %>
        <%= render "shared/tag_cloud", taggable: 'debate' %>
        <% if Geozone.where(pon_id: User.pon_id).count > 0 %>
          <%= render "geozones" %>
        <% end %>
        <%= render "shared/gamification_result", resource: 'Debate' %>
      </aside>
    </div>

  </div>
</main>

<% end%>
