<div class="row">
  <div class="small-12 column">
    <%= back_link_to %>

    <h1><%= t("crowdfunding_notifications.new.title") %></h1>

    <div class="callout primary">
      <p>
        <%= t("crowdfunding_notifications.new.info_about_receivers_html",
              count: @crowdfunding.users_to_notify.count,
              crowdfunding_page: link_to(t("crowdfunding_notifications.new.crowdfunding_page"),
                                     crowdfunding_path(@crowdfunding, anchor: "comments"))).html_safe %>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 column">
    <%= form_for @notification do |f| %>
      <%= render "shared/errors", resource: @notification %>

      <%= f.label :title, t("crowdfunding_notifications.new.title_label") %>
      <%= f.text_field :title, label: false %>

      <%= f.label :body, t("crowdfunding_notifications.new.body_label") %>
      <%= f.text_area :body, label: false, rows: "3" %>

      <%= f.hidden_field :crowdfunding_id, value: @crowdfunding.id %>

      <div class="small-12 medium-4">
        <%= f.submit t("crowdfunding_notifications.new.submit_button"), class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
