<div class="supports text-center">
  <div class="in-favor">
    <% if voted_for?(@featured_reportings_votes, reporting) %>
      <div class="supported">
        <%= t("reportings.reporting.already_supported") %>
      </div>
    <% else %>
      <%= link_to vote_featured_reporting_path(reporting, value: 'yes'),
          class: "btn btn-primary btn-block mt-2",
          title: t('reportings.reporting.support_title'), method: "post", remote: true do %>
        <%= t("reportings.reporting.support") %>
      <% end %>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.organization? %>
    <div class="participation-not-allowed" style='display:none' aria-hidden="false">
      <p>
        <%= t("votes.organizations") %>
      </p>
    </div>
  <% elsif user_signed_in? && !reporting.votable_by?(current_user)%>
    <div class="participation-not-allowed" style='display:none' aria-hidden="false">
      <p>
        <%= t("votes.verified_only",
            verify_account: link_to(t("votes.verify_account"), verification_path )).html_safe %>
      </p>
    </div>
  <% elsif !user_signed_in? %>
    <div class="participation-not-allowed" style='display:none' aria-hidden="false">
      <%= t("votes.unauthenticated",
        signin: link_to(t("votes.signin"), go_to_login)).html_safe %>
    </div>
  <% end %>

  <% if voted_for?(@featured_reportings_votes, reporting) %>
    <% if setting['twitter_handle'] %>
      <div class="share-supported">
        <%= render partial: 'shared/social_share', locals: {
          title: reporting.title,
          url: reporting_url(reporting),
          description: reporting.summary
        } %>
      </div>
    <% end %>
  <% end %>
</div>
