<div class="reporting-edit row">

  <div class="small-12 column">

    <h1 class="inline-block"><%= t("reportings.retire_form.title") %></h1>

    <h3><%= link_to @reporting.title, @reporting %></h3>

    <div data-alert class="callout warning">
     <%= t("reportings.retire_form.warning") %>
    </div>

    <%= form_for(@reporting, url: retire_reporting_path(@reporting)) do |f| %>
      <%= render 'shared/errors', resource: @reporting %>
      <div class="row">
        <div class="small-12 medium-6 large-4 column">
          <%= f.label :retired_reason,  t("reportings.retire_form.retired_reason_label") %>
          <%= f.select :retired_reason, retire_reportings_options, {include_blank: t("reportings.retire_form.retired_reason_blank"), label: false} %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-9 column">
          <%= f.label :retired_explanation, t("reportings.retire_form.retired_explanation_label") %>
          <%= f.text_area :retired_explanation, rows: 4, maxlength: 500, label: false,
                          placeholder: t('reportings.retire_form.retired_explanation_placeholder') %>
        </div>
      </div>

      <div class="row">
        <div class="actions small-12 medium-3 column">
          <%= f.submit(class: "btn btn-primary btn-block", value: t("reportings.retire_form.submit_button")) %>
        </div>
      </div>
    <% end %>

  </div>
</div>
