<%= form_for(@answer, url: form_url) do |f| %>

  <%= render 'shared/errors', resource: @answer %>

  <%= f.hidden_field :question_id, value: @answer.question_id || @question.id %>

  <% if @answer.title == t('polls.show.question_type.other') %>
    <div  id="title_answer">
      <%= f.text_field :title, id: "answer_title", :readonly => true %>
    </div>
  <% else %>
    <div id="title_answer">
      <%= f.text_field :title, id: "answer_title" %>
    </div>
  <% end %>

  <div class="ckeditor">
    <%= f.cktext_area :description,
                      maxlength: Poll::Question.description_max_length,
                      ckeditor: {language: I18n.locale} %>
  </div>

  <div class="small-12 medium-6 large-4 margin-top">
    <%= f.submit(class: "btn btn-primary btn-block", value: t("shared.save")) %>
  </div>

<% end %>
