<%= back_link_to %>

<ul class="breadcrumbs margin-top">
  <li><%= @answer.title %></li>
  <li><%= t('admin.answers.edit.title') %></li>
</ul>

<h2 class="margin-top">
  <%= t("admin.answers.edit.title") %>
</h2>
<script>
  var other = "<%= t('polls.show.question_type.other') %>"
</script>
<input id= "open_answer_check" type="checkbox"> <%= t('admin.answers.new.open_answer') %>


<div class="poll-question-answer-form">
  <%= render "form", form_url: admin_answer_path(@answer) %>
</div>
