<div class="service-form row">

  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h2><span class=" float-left"></span><%= t("collaboration.agreements.show.title") %>#_<%= @subscription.id %></h2>


    <div class="row">
      <div class="small-12 medium-12 column">
        <h4><span class=" float-left"></span><%= t("collaboration.agreements.new.detail") %></h4>
        <table class="crowdfunding-table" style="font-size: small;" class="margin-top">
          <thead>
          </thead>
          <tbody>
          <tr>
            <td><%= t("collaboration.agreements.new.title") %>:</td>
            <td><strong><%= @collaboration_agreement.title.to_s %></strong></td>
          </tr>
          <tr>
            <td><%= t("collaboration.agreements.new.summary") %>:</td>
            <td><strong><%= @collaboration_agreement.summary.to_s %> </strong></td>
          </tr>
          <tr>
            <td><%= t("collaboration.agreements.new.start_date") %>:</td>
            <td><strong><%= @collaboration_agreement.start_date.to_s %></strong></td>
          </tr>
          <tr>
            <td><%= t("collaboration.agreements.new.end_date") %>:</td>
            <td><strong><%= @collaboration_agreement.end_date.to_s %> </strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="row">
      <div class="small-12 medium-6 column">
        <h4><span class=" float-left"></span><%= t("collaboration.subscriptions.new.detail") %></h4>
        <table class="crowdfunding-table" style="font-size: small;" class="margin-top">
          <thead>
          <tr>
            <th><%= t("collaboration.subscriptions.new.title") %></th>
          </tr>
          </thead>
          <tbody>
          <% @collaboration_agreement.agreement_requirements.each do |agreement_requirement| %>
            <tr id="<%= dom_id(agreement_requirement) %>">
              <td>
                <%= agreement_requirement.title %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row">
      <div class="small-12 medium-9 column">
        <h4><span class=" float-left"></span><%= t("assets.moderable_bookings.show.user_detail") %></h4>
        <p class="help-text"></span><%= t("collaboration.subscriptions.new.user") %></p>
        <table class="crowdfunding-table" style="font-size: small;" class="margin-top">
          <thead>
          </thead>
          <tbody>
          <tr>
            <td><%= t("assets.moderable_bookings.show.user_name") %>:</td>
            <td><%= @subscription.user.username.to_s %></td>
          </tr>
          <tr>
            <td><%= t("assets.moderable_bookings.show.user_cf") %>:</td>
            <td><%= @subscription.user.cod_fiscale.to_s %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 column">
        <h4><span class=" float-left"></span><%= t("collaboration.subscriptions.show.title") %></h4>
        <table class="crowdfunding-table" style="font-size: small;" class="margin-top">
          <tbody>
            <tr>
              <td>
                <%= t("collaboration.subscriptions.show.note") %>
              </td>
              <td>
              <%= @subscription.note %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="small-12 medium-12 column">

        <%# @subscriptions.each do |subscription|  %>
        <% if @subscription.documents.present? %>
          <% if feature?(:allow_attached_documents) %>
            <%= render 'documents/documents',
                       documents: @subscription.documents,
                       max_documents_allowed: Collaboration::Subscription.max_documents_allowed %>
          <% end %>
        <% end %>
        <%# end %>
      </div>
    </div>
  </div>


</div>
