<div class="card-wrapper card-space pb-0">
  <div class="card card-bg w-100">
    <div class="card-body p-1 p-sm-4">

      <div class="row">
        <div class="col-sm">
          <h2 style="font-size: 2rem;">
            <%= number_to_euro(@crowdfunding.total_investiment) %>
            <br class="d-sm-none">
            <small class="text-muted">
              <%= t('crowdfundings.show.price_currently_collected').upcase %> <%= number_to_euro(@crowdfunding.price_goal) %>
            </small>
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="progress progress-color">
            <div class="progress-bar bg-success" role="progressbar" style="width: <%= @investments_percentage.round(2) %>%" aria-valuenow="<%= @investments_percentage.round(2) %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <!--Rows dettagli per display grandi-->
      <div class="row d-none d-lg-flex">
        <div class="col-sm">
          <u><strong><%= @crowdfunding.count_investors.to_i %></strong></u>
        </div>
        <div class="col-sm">
          <u><strong><%= number_to_euro(@crowdfunding.min_price) %></strong></u>
        </div>
        <div class="col-sm">
          <u><strong><%= @crowdfunding.start_date.strftime("%d/%m/%Y") %></strong></u>
        </div>
        <div class="col-sm">
          <u><strong><%= @crowdfunding.end_date.strftime("%d/%m/%Y") %></strong></u>
        </div>
      </div>

      <div class="row d-none d-lg-flex">
        <div class="col-sm">
          <small><%= t('crowdfundings.show.total_investors') %></small>
        </div>
        <div class="col-sm">
          <small><%= t('crowdfundings.show.card_min_price') %></small>
        </div>
        <div class="col-sm">
          <small><%= t('crowdfundings.show.start_date') %></small>
        </div>
        <div class="col-sm">
          <small><%= t('crowdfundings.show.end_date') %></small>
        </div>
      </div>
      <!--Fine rows dettagli per display grandi-->

      <!--Rows dettagli per display piccoli-->
      <div class="row d-lg-none">

        <div class="col">

          <div class="row">
            <div class="col">
              <small><%= t('crowdfundings.show.total_investors') %></small>
            </div>
            <div class="col">
              <small><%= t('crowdfundings.show.card_min_price') %></small>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <u><strong><%= @crowdfunding.count_investors.to_i %></strong></u>
            </div>
            <div class="col">
              <u><strong><%= number_to_euro(@crowdfunding.min_price) %></strong></u>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <small><%= t('crowdfundings.show.start_date') %></small>
            </div>
            <div class="col">
              <small><%= t('crowdfundings.show.end_date') %></small>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <u><strong><%= @crowdfunding.start_date.strftime("%d/%m/%Y") %></strong></u>
            </div>
            <div class="col">
              <u><strong><%= @crowdfunding.end_date.strftime("%d/%m/%Y") %></strong></u>
            </div>
          </div>
        </div>

      </div>
      <!--Fine Rows dettagli per display piccoli-->

      <%# if current_user %>
      <% if !author_of_crowdfunding?(@crowdfunding) and @crowdfunding.open? and (can? :new, UserInvestment) and investable_by_social(@crowdfunding) %>
        <div class="row my-4">
          <div class="col-sm">
            <%= link_to new_crowdfunding_user_investment_path(@crowdfunding), class: 'btn btn-primary btn-block btn-ocra', style: 'font-weight: bold; color: #000;' do %>
              <%= t("crowdfundings.user_investments.create.action") %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%# end %>


    </div>
  </div>
</div>
