<div class="service-form row">

  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h1><span class="icon-services float-left"></span><%= t("crowdfundings.new.start_new") %></h1>

    <%= render "crowdfundings/form", form_url: crowdfundings_url %>
  </div>

  <div class="small-12 medium-3 column">
    
    <h2><%= t("crowdfundings.new.recommendations_title") %></h2>
    <ul class="recommendations">
      <li><%= t("crowdfundings.new.recommendation_one") %></li>
      <li><%= t("crowdfundings.new.recommendation_two") %></li>
      <li><%= t("crowdfundings.new.recommendation_three") %></li>
    </ul>
  </div>
</div>
