<div class="orbit margin-bottom" role="region" aria-label="<%= @asset.name %>" data-orbit data-auto-play="false">


  <ul class="orbit-container">
    <li>
      <button class="orbit-previous">
        <span class="show-for-sr"><%= t("shared.orbit.previous_slide") %></span>&#9664;&#xFE0E;
      </button>
    </li>
    <li>
      <button class="orbit-next">
        <span class="show-for-sr"><%= t("shared.orbit.next_slide") %></span>&#9654;&#xFE0E;
      </button>
    </li>

    <% @asset.images.reverse.each_with_index do |image, index| %>
      <li class="orbit-slide <%= active_class(index) %>">
        <%= link_to image.attachment.url(:original), style: "display: inline", target: "_blank" do %>
          <%= image_tag image.attachment.url(:original),
                        class: "orbit-image",
                        alt: image.title.unicode_normalize,
                        style: "height: 300px; width: auto; display: block; margin-left: auto; margin-right: auto;" %>
        <% end %>
      </li>
    <% end %>

  </ul>

  <nav class="orbit-bullets">
    <% asset.images.each_with_index do |image, index| %>
      <button class="<%= active_class(index) %>" data-slide="<%= index %>">
        <span class="show-for-sr"><%= image.title.unicode_normalize %></span>
      </button>
    <% end %>
  </nav>
</div>
