<%= back_link_to admin_moderable_bookings_path, t("admin.moderable_bookings.back") %>

    <div class="row margin-top">
        <div class="small-12 medium-12 column">
            <h4><span class="float-left"></span><%= t("admin.moderable_bookings.edit.detail") %></h4>
            <table class="crowdfunding-table" style="font-size: small;" class="margin-top">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td><%= t("admin.moderable_bookings.edit.table.asset") %>:</td>
                  <td><strong><%= Asset.find(@moderable_booking.bookable_id).name.to_s %> </strong></td>
                </tr>
                <tr>
                  <td><%= t("admin.moderable_bookings.edit.table.name") %>:</td>
                  <td><strong><%= User.find(@moderable_booking.booker_id).username.to_s %> </strong></td>
                </tr>
                <tr>
                  <td><%= t("admin.moderable_bookings.edit.table.day") %>:</td>
                  <td><strong><%= @moderable_booking.time_end.strftime("%d-%m-%Y") %> </strong></td>
                </tr>
                  <td><%= t("admin.moderable_bookings.edit.table.start_date") %>:</td>
                  <td><strong><%= @moderable_booking.time_start.to_s(:time) %></strong> </td>
                </tr>
                <tr>
                  <td><%= t("admin.moderable_bookings.edit.table.end_date") %>:</td>
                  <td><strong><%= (@moderable_booking.time_end + 1.seconds).to_s(:time) %> <strong></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

  <% if @moderable_booking.errors.any? %>

    <div id="error_explanation" data-alert class="callout alert" data-closable>
      <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>

      <strong>
        <%= @moderable_booking.errors.count %>
        <%= t("admin.asset.errors.form.error", count: @moderable_booking.errors.count) %>
      </strong>
    </div>

  <% end %>

  <div class="row">
    <% if @moderable_booking.note.present? %>
      <div class="large-12 column">
      <%= "Nota aggiuntiva" %>:
        <%= @moderable_booking.note %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% if @moderable_booking.status == 1 %>
      <td>
        <%= link_to t("admin.moderable_bookings.index.table.approve"),
                      edit_admin_moderable_booking_path(@moderable_booking, approved: true), class: "button success hollow"
      %>
      </td>
      <td>
      <%= link_to t("admin.moderable_bookings.index.table.disapprove"),
                      edit_admin_moderable_booking_path(@moderable_booking, approved: false), class: "button alert hollow" %>
      </td>
    <% end %>
    <% if @moderable_booking.status == 2 %>
      <td>
      <%= link_to t("admin.moderable_bookings.index.table.disapprove"),
                      edit_admin_moderable_booking_path(@moderable_booking, approved: false), class: "button alert hollow" %>
    </td>
    <% end %>
  </div>











