<%#= form.label :map_location, t("account.form.user_position") %>

<!-- <p class="help-text" id="tag-list-help-text"><%#= help %></p> -->

 <h3> <%= t("account.form.user_position") %> </h3>

<!--  <div>-->
    <%#= form.label :skip_map do %>
      <%#= form.check_box :skip_map,
                         title: t("#{i18n_namespace}.form.map_skip_checkbox"),
                         label: false,
                         class: 'js-toggle-map-user' %>
<!--      <span class="checkbox">-->
        <%#= t("#{i18n_namespace}.form.map_skip_checkbox") %>
<!--      </span>-->
    <%# end %>
<!--  </div>-->

  <!-- <div class="margin-top geoloc-user" style="display: none;"> -->
  <div class="margin-top geoloc-user">

    <div class="small-12">
      <%#=  t("account.form.account_address") %>
        <div class="input-group">

          <%= form.label :address, t("account.form.account_address") %>
          <%= form.text_field :address, placeholder: t("account.form.account_address"), label: false %>

          <div class="input-group-button">
            <%= map_location_search('') %>
          </div>
        </div>
        <div id="no-text-insert" class="callout alert no-text-insert primary text-center hide">
          <%= t "account.no_text_insert_html" %>
        </div>
    </div>
  </div>


<% if Rails.application.config.coord_user_address %>

  <div class= "moderation-description" style="text-align: justify; min-height: 7rem;" >
    <%= form.label :public_map do %>

      <%= form.label :privacy_locacalizzation, t("account.form.privacy"), class: "margin-top:20px ;"%>
        <p class="help-text" style=" margin-bottom:20px;" ><%= t("account.form.privacy_help") %></p>


      <%= form.check_box :public_map, title: t('account.show.public_map_title'), label: false %>

        <span class="checkbox">
            <%= t('account.show.public_map_title') %>
        </span>
        <br>
        <p>
          <%= t('account.show.public_map_label_one') %>
          <%= t('account.show.public_map_label_two') %>
          <%= t('account.show.public_map_label_three') %>
          <%= t('account.show.public_map_label_four') %>
          <%= t('account.show.public_map_label_five') %>
          <%= t('account.show.public_map_label_six') %>
          <%= t('account.show.public_map_label_seven') %>
          <%= t('account.show.public_map_label_eight') %>
        </p>
    <% end %>
  </div>
  <br>
  <%= render_map_user(map_location,parent_class, editable = Rails.application.config.coord_user_address, remove_marker_label,geo_coding_addr) %>

  <%= form.fields_for :map_location, map_location do |m_l_fields| %>
    <%= m_l_fields.hidden_field :id,
                                value: map_location.id,
                                id: map_location_input_id(parent_class, 'id') %>
    <%= m_l_fields.hidden_field :latitude,
                                value: map_location.latitude,
                                id: map_location_input_id(parent_class, 'latitude') %>
    <%= m_l_fields.hidden_field :longitude,
                                value: map_location.longitude,
                                id: map_location_input_id(parent_class, 'longitude') %>
    <%= m_l_fields.hidden_field :zoom,
                                value: map_location.zoom,
                                id: map_location_input_id(parent_class, 'zoom') %>
  <% end %>


<% else%>
  <%= render_map_user(nil, parent_class, editable = Rails.application.config.coord_user_address, remove_marker_label,geo_coding_addr) %>
<% end %>

